body{
    background: #f0f0f0;
    font-family: Arial, sans-serif;
    background-image:url(imagem/paracatnapa.png);
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}

h1{
    color: antiquewhite;
    text-align: start;
}
.Menu{
    background-color:indianred;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    
}
.titu1 {
   
}
.Menubutun2{
    border-radius: 10px;
}
footer {
  text-align: center;
  background-color:indianred;
  padding: 15px;
  margin-top: 40px;
  font-size: 0.9em;
}
